<header><br /><p class="lead">Places</p></header>

<%= link_to 'Share place', new_place_path, class: 'btn btn-primary btn-lg' %>

<div class="card">
  <div class="card-block">
    <ul>
      <%= render @places %>
    </ul>
  </div>
  <div id="map" class="map"></div>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</div>
<script>
  <%= render 'place.js', locals: { place_coordinates: @place_coordinates } %>
</script>
