<table id="dttb" class="table table-hover">
  <thead>
    <tr>
      <th> Place(s) Shared Publically</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td>
          <%= link_to place.title, place_path(place) %>
            shared by <strong><%= @username %></strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="map" class="map"></div>
<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>
<script>
  <%= render 'place.js', locals: { place_coordinates: @place_coordinates } %>
</script>