<script>
  $(document).ready(function() {
    $("#dttb").dataTable();
  });

  $(window).on('load', function() {
	  var map = new ol.Map({
	    target: 'map',
		layers: [
		  new ol.layer.Tile({
		    source: new ol.source.OSM()
		  })
		],
		view: new ol.View({
		  center: ol.proj.fromLonLat([-74.006,40.712]),
		  zoom: 2
		})
	  });

	  var place_coordinates = <%= @place_coordinates %>;
	  for(var i=0; i<place_coordinates.length; i++){

		  var marker = new ol.Feature({
		    geometry: new ol.geom.Point(
		      ol.proj.fromLonLat(place_coordinates[i])
		    ),
		  });

		  var style1 = [
		    new ol.style.Style({
		        image: new ol.style.Icon(({
		            scale: 0.7,
		            rotateWithView: false,
		            anchor: [0.5, 1],
		            anchorXUnits: 'fraction',
		            anchorYUnits: 'fraction',
		            opacity: 1,
		            src: 'https://raw.githubusercontent.com/jonataswalker/map-utils/master/images/marker.png'
		        })),
		        zIndex: 5
		    }),
		    new ol.style.Style({
		        image: new ol.style.Circle({
		            radius: 5,
		            fill: new ol.style.Fill({
		                color: 'rgba(255,255,255,1)'
		            }),
		            stroke: new ol.style.Stroke({
		                color: 'rgba(0,0,0,1)'
		            })
		        })
		    })
	      ];

	      marker.setStyle(style1);

		  var vectorSource = new ol.source.Vector({
		    features: [marker]
		  });

		  var markerVectorLayer = new ol.layer.Vector({
		    source: vectorSource,
		  });

		  map.addLayer(markerVectorLayer);
	  }
  })
</script>
<table id="dttb" class="table table-hover">
  <thead>
    <tr>
      <th> Place(s) Shared Publically</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td>
          <%= link_to place.title, place_path(place) %>
            shared by <strong><%= @username %></strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="map" class="map"></div>